SECRET_KEY=your_secret_key
DEBUG=False
DB_NAME=cafeteria_db
DB_USER=cafeteria_user
DB_PASSWORD=cafeteria_password
DB_HOST=db
DB_PORT=5432
DATABASE_URL=postgresql://cafeteria_user:cafeteria_password@db:5432/cafeteria_db
CORS_ALLOWED_ORIGINS=http://localhost:3000
